<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="center-header"> <h1 >Operations</h1> </div>
    <div class="buttons-div">
        <button type="button"> Добавить 1 операцию </button>
        <button type="button"> Добавить несколько операций </button>
    </div>
    <table class="operation-table">
        <tr class="operation-table-header">
            <th>Дата Операции </th>
            <th>Категория</th>
            <th>Сумма операции </th>
            <th>Комментарий</th>
        </tr>
        <tr>
            <td>20.01.2023</td>
            <td>Здоровье</td>
            <td>2000 </td>
            <td>Тестовая строка</td>

        </tr>
    </table>

</body>
</html>