{% extends 'base/index.html' %}
{% block title %}
    <title> Budget - Detail category </title>
{% endblock title %}

{% block navbar %}
    {% include "budget/navbar.html" %}
{% endblock navbar%}

{% block content %}
    <h1> {{category.name}} </h1>
    <table class="table table-bordered table-hover table-sm">
        <tr>
            <th> Дата Операции </th>
            <th> Amount </th>
            <th> Comment </th>
        </tr>
    {% for operation in operations %}
        <tr>
            <td>{{ operation.operation_date|date:'F Y'}} </td>
            <td>{{ operation.amount}} </td>
            <td>{{ operation.comment}} </td>
        </tr> 
    {% endfor %}
    </table>
{% endblock content %}
