{% extends "base/index.html" %}

{% block title %}
    <title> Budget</title>
{% endblock title %}

{% block navbar %}
    {% include "budget/navbar.html" %}
{% endblock navbar%}

{% block content %}
    <div class="row">  
        <div class="col-9"><h1> Dashboard</h1></div> 
    </div>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title"> Потрачено:</h4>
                <p class="card-text"><font class="text-danger">{{spend_all_category.spend_by_category__sum| floatformat:"2g"}} &#8381;</font></p>
                <a href="#" class="btn btn-primary">Детали</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title"> Заработано:</h4>
                <p class="card-text"><font class="text-success">{{get_all_category.get_by_category__sum| floatformat:"2g"}} &#8381;</font></p>
                <a href="#" class="btn btn-primary">Детали</a>
            </div>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-11"> 
                    <h4> Траты</h4>
                </div>
                <div class="col-1"><button type="button" class="btn btn-primary"> <i class="bi bi-plus-circle"></i></button></div>
            </div>
            <div class="row">
                <table class="table table-bordered table-hover table-sm">
                    <tr>
                        <th> Категория </th>
                        <th> Лимит на период</th>
                        <th> Остаток </th>
                        <th> Потрачено </th>
                    </tr>
                {% for operation in operations_credit %}
                <tr>
                    <td> <a href= "{% url 'budget:detail_category_by_period' operation.category__id period_today.year period_today.month %}">{{ operation.category__name}} </td>
                    <td>{{ operation.category__limit|floatformat:"2g"}} &#8381;</td>
                    <td>{{ operation.rest_by_category|floatformat:"2g"}} &#8381;</td>
                    <td>{{ operation.spend_by_category|floatformat:"2g"}} &#8381;</td>
                </tr> 
                {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-11"> 
                    <h4> Поступления</h4>
                </div>
                <div class="col-1"><button type="button" class="btn btn-primary"> <i class="bi bi-plus-circle"></i></button></div>
            </div>
            <div class="row">
                <table class="table table-bordered table-hover table-sm table-responsive">
                    <tr>
                        <th> Категория </th>
                        <th> Получено за период</th>

                    </tr>
                {% for operation in operations_debit %}
                <tr>
                    <td> <a href= "{% url 'budget:detail_category_by_period' operation.category__id period_today.year period_today.month %}">{{ operation.category__name}} </td>
                    <td>{{ operation.get_by_category|floatformat:"2g"}} &#8381;</td>
                </tr> 
                {% endfor %}
                </table>
            </div>
        </div>

{% endblock content %}

